.signupButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  width: 200px;
  background: var(--token-Ibh9_IG1RFIL8);
  border-radius: 10px;
}
.signupButton:hover {
  background: var(--token-JpmNIUqsFKfJl);
}
.text {
  position: relative;
  color: var(--token-zif6pnc9gtw1o);
}
