@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-82-v9ADPdG6be: 32px;
  --plasmic-token-heading: var(--token-82-v9ADPdG6be);
  --token-Iz13lTOjhR4EH: rgb(76, 76, 75);
  --plasmic-token-text: var(--token-Iz13lTOjhR4EH);
  --token-XylN4oMLTGtv3: rgb(0, 0, 0);
  --plasmic-token-black: var(--token-XylN4oMLTGtv3);
  --token-g5aC0e_MK_KYD: rgb(240, 240, 240);
  --plasmic-token-gray-background: var(--token-g5aC0e_MK_KYD);
  --token-JpmNIUqsFKfJl: rgb(23, 23, 23);
  --plasmic-token-button-hover: var(--token-JpmNIUqsFKfJl);
  --token-zif6pnc9gtw1o: #ffffff;
  --plasmic-token-white: var(--token-zif6pnc9gtw1o);
  --token-Ibh9_IG1RFIL8: rgb(76, 76, 75);
  --plasmic-token-button-background: var(--token-Ibh9_IG1RFIL8);
}

.plasmic_default_styles {
  --mixin-UkQMXDKX8B41f_font-family: "Inter";
  --mixin-UkQMXDKX8B41f_font-size: 14px;
  --mixin-UkQMXDKX8B41f_font-weight: 400;
  --mixin-UkQMXDKX8B41f_font-style: normal;
  --mixin-UkQMXDKX8B41f_color: #535353;
  --mixin-UkQMXDKX8B41f_text-align: left;
  --mixin-UkQMXDKX8B41f_text-transform: none;
  --mixin-UkQMXDKX8B41f_line-height: 1.5;
  --mixin-UkQMXDKX8B41f_letter-spacing: normal;
  --mixin-UkQMXDKX8B41f_white-space: pre-wrap;
  --mixin-UkQMXDKX8B41f_user-select: text;
  --mixin-UkQMXDKX8B41f_text-decoration-line: none;
  --mixin-UkQMXDKX8B41f_text-overflow: clip;
  --mixin-xN9Xwcm7Yl9ci_font-family: "Inter";
  --mixin-xN9Xwcm7Yl9ci_color: #000000;
  --mixin-xN9Xwcm7Yl9ci_font-size: 72px;
  --mixin-xN9Xwcm7Yl9ci_font-weight: 900;
  --mixin-xN9Xwcm7Yl9ci_letter-spacing: -4px;
  --mixin-xN9Xwcm7Yl9ci_line-height: 1;
  --mixin-cbqtPM8uSoAcK_font-family: "Inter";
  --mixin-cbqtPM8uSoAcK_color: #000000;
  --mixin-cbqtPM8uSoAcK_font-size: 48px;
  --mixin-cbqtPM8uSoAcK_font-weight: 700;
  --mixin-cbqtPM8uSoAcK_letter-spacing: -1px;
  --mixin-cbqtPM8uSoAcK_line-height: 1.1;
  --mixin-DJv-mqaYlllgF_font-family: "Inter";
  --mixin-DJv-mqaYlllgF_color: #000000;
  --mixin-DJv-mqaYlllgF_font-size: 32px;
  --mixin-DJv-mqaYlllgF_font-weight: 600;
  --mixin-DJv-mqaYlllgF_letter-spacing: -0.8px;
  --mixin-DJv-mqaYlllgF_line-height: 1.2;
  --mixin-i2qnTwXEm6Hch_font-family: "Inter";
  --mixin-i2qnTwXEm6Hch_color: #000000;
  --mixin-i2qnTwXEm6Hch_font-size: 24px;
  --mixin-i2qnTwXEm6Hch_font-weight: 600;
  --mixin-i2qnTwXEm6Hch_letter-spacing: -0.5px;
  --mixin-i2qnTwXEm6Hch_line-height: 1.3;
  --mixin-qcNf8Ze5KnD-__font-family: "Inter";
  --mixin-qcNf8Ze5KnD-__color: #000000;
  --mixin-qcNf8Ze5KnD-__font-size: 20px;
  --mixin-qcNf8Ze5KnD-__font-weight: 600;
  --mixin-qcNf8Ze5KnD-__letter-spacing: -0.3px;
  --mixin-qcNf8Ze5KnD-__line-height: 1.5;
  --mixin-7CcipzMadWxJg_font-family: "Inter";
  --mixin-7CcipzMadWxJg_color: #000000;
  --mixin-7CcipzMadWxJg_font-size: 16px;
  --mixin-7CcipzMadWxJg_font-weight: 600;
  --mixin-7CcipzMadWxJg_line-height: 1.5;
  --mixin-TlACZetpjx4ze_border-left-color: #dddddd;
  --mixin-TlACZetpjx4ze_border-left-style: solid;
  --mixin-TlACZetpjx4ze_border-left-width: 3px;
  --mixin-TlACZetpjx4ze_color: #888888;
  --mixin-TlACZetpjx4ze_padding-left: 10px;
  --mixin-0i2EKsNxhkSYU_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-0i2EKsNxhkSYU_border-bottom-color: #dddddd;
  --mixin-0i2EKsNxhkSYU_border-bottom-style: solid;
  --mixin-0i2EKsNxhkSYU_border-bottom-width: 1px;
  --mixin-0i2EKsNxhkSYU_border-left-color: #dddddd;
  --mixin-0i2EKsNxhkSYU_border-left-style: solid;
  --mixin-0i2EKsNxhkSYU_border-left-width: 1px;
  --mixin-0i2EKsNxhkSYU_border-right-color: #dddddd;
  --mixin-0i2EKsNxhkSYU_border-right-style: solid;
  --mixin-0i2EKsNxhkSYU_border-right-width: 1px;
  --mixin-0i2EKsNxhkSYU_border-top-color: #dddddd;
  --mixin-0i2EKsNxhkSYU_border-top-style: solid;
  --mixin-0i2EKsNxhkSYU_border-top-width: 1px;
  --mixin-0i2EKsNxhkSYU_border-bottom-left-radius: 3px;
  --mixin-0i2EKsNxhkSYU_border-bottom-right-radius: 3px;
  --mixin-0i2EKsNxhkSYU_border-top-left-radius: 3px;
  --mixin-0i2EKsNxhkSYU_border-top-right-radius: 3px;
  --mixin-0i2EKsNxhkSYU_font-family: "Inconsolata";
  --mixin-0i2EKsNxhkSYU_padding-bottom: 1px;
  --mixin-0i2EKsNxhkSYU_padding-left: 4px;
  --mixin-0i2EKsNxhkSYU_padding-right: 4px;
  --mixin-0i2EKsNxhkSYU_padding-top: 1px;
  --mixin-h61VRQ5VYme6W_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-h61VRQ5VYme6W_border-bottom-color: #dddddd;
  --mixin-h61VRQ5VYme6W_border-bottom-style: solid;
  --mixin-h61VRQ5VYme6W_border-bottom-width: 1px;
  --mixin-h61VRQ5VYme6W_border-left-color: #dddddd;
  --mixin-h61VRQ5VYme6W_border-left-style: solid;
  --mixin-h61VRQ5VYme6W_border-left-width: 1px;
  --mixin-h61VRQ5VYme6W_border-right-color: #dddddd;
  --mixin-h61VRQ5VYme6W_border-right-style: solid;
  --mixin-h61VRQ5VYme6W_border-right-width: 1px;
  --mixin-h61VRQ5VYme6W_border-top-color: #dddddd;
  --mixin-h61VRQ5VYme6W_border-top-style: solid;
  --mixin-h61VRQ5VYme6W_border-top-width: 1px;
  --mixin-h61VRQ5VYme6W_border-bottom-left-radius: 3px;
  --mixin-h61VRQ5VYme6W_border-bottom-right-radius: 3px;
  --mixin-h61VRQ5VYme6W_border-top-left-radius: 3px;
  --mixin-h61VRQ5VYme6W_border-top-right-radius: 3px;
  --mixin-h61VRQ5VYme6W_font-family: "Inconsolata";
  --mixin-h61VRQ5VYme6W_padding-bottom: 3px;
  --mixin-h61VRQ5VYme6W_padding-left: 6px;
  --mixin-h61VRQ5VYme6W_padding-right: 6px;
  --mixin-h61VRQ5VYme6W_padding-top: 3px;
  --mixin-xnMf85iAqSH2h_display: flex;
  --mixin-xnMf85iAqSH2h_flex-direction: column;
  --mixin-xnMf85iAqSH2h_align-items: stretch;
  --mixin-xnMf85iAqSH2h_justify-content: flex-start;
  --mixin-xnMf85iAqSH2h_list-style-position: outside;
  --mixin-xnMf85iAqSH2h_padding-left: 40px;
  --mixin-xnMf85iAqSH2h_position: relative;
  --mixin-xnMf85iAqSH2h_list-style-type: decimal;
  --mixin-05ceO7oJHmjco_display: flex;
  --mixin-05ceO7oJHmjco_flex-direction: column;
  --mixin-05ceO7oJHmjco_align-items: stretch;
  --mixin-05ceO7oJHmjco_justify-content: flex-start;
  --mixin-05ceO7oJHmjco_list-style-position: outside;
  --mixin-05ceO7oJHmjco_padding-left: 40px;
  --mixin-05ceO7oJHmjco_position: relative;
  --mixin-05ceO7oJHmjco_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-UkQMXDKX8B41f_font-family);
  font-size: var(--mixin-UkQMXDKX8B41f_font-size);
  font-weight: var(--mixin-UkQMXDKX8B41f_font-weight);
  font-style: var(--mixin-UkQMXDKX8B41f_font-style);
  color: var(--mixin-UkQMXDKX8B41f_color);
  text-align: var(--mixin-UkQMXDKX8B41f_text-align);
  text-transform: var(--mixin-UkQMXDKX8B41f_text-transform);
  line-height: var(--mixin-UkQMXDKX8B41f_line-height);
  letter-spacing: var(--mixin-UkQMXDKX8B41f_letter-spacing);
  white-space: var(--mixin-UkQMXDKX8B41f_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-xN9Xwcm7Yl9ci_font-family);
  color: var(--mixin-xN9Xwcm7Yl9ci_color);
  font-size: var(--mixin-xN9Xwcm7Yl9ci_font-size);
  font-weight: var(--mixin-xN9Xwcm7Yl9ci_font-weight);
  letter-spacing: var(--mixin-xN9Xwcm7Yl9ci_letter-spacing);
  line-height: var(--mixin-xN9Xwcm7Yl9ci_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-cbqtPM8uSoAcK_font-family);
  color: var(--mixin-cbqtPM8uSoAcK_color);
  font-size: var(--mixin-cbqtPM8uSoAcK_font-size);
  font-weight: var(--mixin-cbqtPM8uSoAcK_font-weight);
  letter-spacing: var(--mixin-cbqtPM8uSoAcK_letter-spacing);
  line-height: var(--mixin-cbqtPM8uSoAcK_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-DJv-mqaYlllgF_font-family);
  color: var(--mixin-DJv-mqaYlllgF_color);
  font-size: var(--mixin-DJv-mqaYlllgF_font-size);
  font-weight: var(--mixin-DJv-mqaYlllgF_font-weight);
  letter-spacing: var(--mixin-DJv-mqaYlllgF_letter-spacing);
  line-height: var(--mixin-DJv-mqaYlllgF_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-i2qnTwXEm6Hch_font-family);
  color: var(--mixin-i2qnTwXEm6Hch_color);
  font-size: var(--mixin-i2qnTwXEm6Hch_font-size);
  font-weight: var(--mixin-i2qnTwXEm6Hch_font-weight);
  letter-spacing: var(--mixin-i2qnTwXEm6Hch_letter-spacing);
  line-height: var(--mixin-i2qnTwXEm6Hch_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-qcNf8Ze5KnD-__font-family);
  color: var(--mixin-qcNf8Ze5KnD-__color);
  font-size: var(--mixin-qcNf8Ze5KnD-__font-size);
  font-weight: var(--mixin-qcNf8Ze5KnD-__font-weight);
  letter-spacing: var(--mixin-qcNf8Ze5KnD-__letter-spacing);
  line-height: var(--mixin-qcNf8Ze5KnD-__line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-7CcipzMadWxJg_font-family);
  color: var(--mixin-7CcipzMadWxJg_color);
  font-size: var(--mixin-7CcipzMadWxJg_font-size);
  font-weight: var(--mixin-7CcipzMadWxJg_font-weight);
  line-height: var(--mixin-7CcipzMadWxJg_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-TlACZetpjx4ze_color);
  padding-left: var(--mixin-TlACZetpjx4ze_padding-left);
  border-left: var(--mixin-TlACZetpjx4ze_border-left-width)
    var(--mixin-TlACZetpjx4ze_border-left-style)
    var(--mixin-TlACZetpjx4ze_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-0i2EKsNxhkSYU_background);
  font-family: var(--mixin-0i2EKsNxhkSYU_font-family);
  border-radius: var(--mixin-0i2EKsNxhkSYU_border-top-left-radius)
    var(--mixin-0i2EKsNxhkSYU_border-top-right-radius)
    var(--mixin-0i2EKsNxhkSYU_border-bottom-right-radius)
    var(--mixin-0i2EKsNxhkSYU_border-bottom-left-radius);
  padding: var(--mixin-0i2EKsNxhkSYU_padding-top)
    var(--mixin-0i2EKsNxhkSYU_padding-right)
    var(--mixin-0i2EKsNxhkSYU_padding-bottom)
    var(--mixin-0i2EKsNxhkSYU_padding-left);
  border-top: var(--mixin-0i2EKsNxhkSYU_border-top-width)
    var(--mixin-0i2EKsNxhkSYU_border-top-style)
    var(--mixin-0i2EKsNxhkSYU_border-top-color);
  border-right: var(--mixin-0i2EKsNxhkSYU_border-right-width)
    var(--mixin-0i2EKsNxhkSYU_border-right-style)
    var(--mixin-0i2EKsNxhkSYU_border-right-color);
  border-bottom: var(--mixin-0i2EKsNxhkSYU_border-bottom-width)
    var(--mixin-0i2EKsNxhkSYU_border-bottom-style)
    var(--mixin-0i2EKsNxhkSYU_border-bottom-color);
  border-left: var(--mixin-0i2EKsNxhkSYU_border-left-width)
    var(--mixin-0i2EKsNxhkSYU_border-left-style)
    var(--mixin-0i2EKsNxhkSYU_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-h61VRQ5VYme6W_background);
  font-family: var(--mixin-h61VRQ5VYme6W_font-family);
  border-radius: var(--mixin-h61VRQ5VYme6W_border-top-left-radius)
    var(--mixin-h61VRQ5VYme6W_border-top-right-radius)
    var(--mixin-h61VRQ5VYme6W_border-bottom-right-radius)
    var(--mixin-h61VRQ5VYme6W_border-bottom-left-radius);
  padding: var(--mixin-h61VRQ5VYme6W_padding-top)
    var(--mixin-h61VRQ5VYme6W_padding-right)
    var(--mixin-h61VRQ5VYme6W_padding-bottom)
    var(--mixin-h61VRQ5VYme6W_padding-left);
  border-top: var(--mixin-h61VRQ5VYme6W_border-top-width)
    var(--mixin-h61VRQ5VYme6W_border-top-style)
    var(--mixin-h61VRQ5VYme6W_border-top-color);
  border-right: var(--mixin-h61VRQ5VYme6W_border-right-width)
    var(--mixin-h61VRQ5VYme6W_border-right-style)
    var(--mixin-h61VRQ5VYme6W_border-right-color);
  border-bottom: var(--mixin-h61VRQ5VYme6W_border-bottom-width)
    var(--mixin-h61VRQ5VYme6W_border-bottom-style)
    var(--mixin-h61VRQ5VYme6W_border-bottom-color);
  border-left: var(--mixin-h61VRQ5VYme6W_border-left-width)
    var(--mixin-h61VRQ5VYme6W_border-left-style)
    var(--mixin-h61VRQ5VYme6W_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-xnMf85iAqSH2h_display);
  flex-direction: var(--mixin-xnMf85iAqSH2h_flex-direction);
  align-items: var(--mixin-xnMf85iAqSH2h_align-items);
  justify-content: var(--mixin-xnMf85iAqSH2h_justify-content);
  list-style-position: var(--mixin-xnMf85iAqSH2h_list-style-position);
  padding-left: var(--mixin-xnMf85iAqSH2h_padding-left);
  position: var(--mixin-xnMf85iAqSH2h_position);
  list-style-type: var(--mixin-xnMf85iAqSH2h_list-style-type);
  flex-column-gap: var(--mixin-xnMf85iAqSH2h_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-05ceO7oJHmjco_display);
  flex-direction: var(--mixin-05ceO7oJHmjco_flex-direction);
  align-items: var(--mixin-05ceO7oJHmjco_align-items);
  justify-content: var(--mixin-05ceO7oJHmjco_justify-content);
  list-style-position: var(--mixin-05ceO7oJHmjco_list-style-position);
  padding-left: var(--mixin-05ceO7oJHmjco_padding-left);
  position: var(--mixin-05ceO7oJHmjco_position);
  list-style-type: var(--mixin-05ceO7oJHmjco_list-style-type);
  flex-column-gap: var(--mixin-05ceO7oJHmjco_flex-column-gap);
}
